<!DOCTYPE html>
<html>
  <head>
    <title>Vets For Pets</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
        <%= link_to "Vets for Pets!", '/', id: "logo" %>
        <% if logged_in? %>
          <span class="logged-in-as">Logged in as <%= current_user.name %></span>
        <% end %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   '#' %></li>
            <li><%= link_to "Help",   '#' %></li>
            <% if logged_in? %>
              <li><%= link_to "Log out", '/logout', method:'delete' %></li>
            <% else %>
              <li><%= link_to "Log in", '/login' %></li>
              <li><%= link_to "Sign up", '/signup' %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>